
<div>
  <h3><%= @item.title %></h3>
  <%= image_tag("#{@item.image}.jpg", :alt => "tubing anchor catcher", :class => "img-custom img-thumbnail") %>

  <div class="row">
  <a class="fancybox" rel="group" href="<%= asset_path("#{@item.image2}.jpg") %>">
    <img id="fancy" class="col-lg-4" src="<%= asset_path("#{@item.image2}.jpg") %>" alt="" />
  </a>
  <a class="fancybox" rel="group" href="<%= asset_path("#{@item.image3}.jpg") %>">
    <img id="fancy" class="col-lg-4" src="<%= asset_path("#{@item.image3}.jpg") %>" alt="" />
  </a>
  <a class="fancybox" rel="group" href="<%= asset_path("#{@item.image4}.jpg") %>">
    <img id="fancy" class="col-lg-4" src="<%= asset_path("#{@item.image4}.jpg") %>" alt="" />
  </a>
</div>

  <h4>$<%= @item.price %></h4>
  <p><%= @item.description %></p>
</div>


<div align="center">
  <%= link_to 'Back', items_path %>
</div>

<%if signed_in?%>
  <%=link_to "", class: "btn btn-lg", data: {target: @cart_action, addUrl: add_to_cart_path(@item), removeUrl: remove_from_cart_path(@item)} do%>
    <i class="glyphicon glyphicon-shopping-cart"></i>
    <span><%=@cart_action%></span> Cart
  <%end%>
<%end%>
<br />
<br />
<br />


<script>
$(document).ready(function() {
  $("a.fancybox").fancybox();
});
</script>
