
<div>
  <h3><%= @item.title %></h3>
  <p><%= link_to "Add to cart", "#" %></p>
  <%= image_tag("#{@item.image}.jpg", :alt => "tubing anchor catcher", :class => "img-custom img-thumbnail") %>

  <div class="row">
  <a class="fancybox" rel="group" href="<%= asset_path("#{@item.image2}.jpg") %>">
    <img id="fancy" class="col-lg-4" src="<%= asset_path("#{@item.image2}.jpg") %>" alt="" />
  </a>
  <a class="fancybox" rel="group" href="<%= asset_path("#{@item.image3}.jpg") %>">
    <img id="fancy" class="col-lg-4" src="<%= asset_path("#{@item.image3}.jpg") %>" alt="" />
  </a>
  <a class="fancybox" rel="group" href="<%= asset_path("#{@item.image4}.jpg") %>">
    <img id="fancy" class="col-lg-4" src="<%= asset_path("#{@item.image4}.jpg") %>" alt="" />
  </a>
</div>

  <h4>$<%= @item.price %></h4>
  <p><%= @item.description %></p>
</div>


<div align="center">
  <%= link_to 'Add to cart', '#' %> |
  <%= link_to 'Back', items_path %>
</div>


<script>
$(document).ready(function() {
  $("a.fancybox").fancybox();
});
</script>